@model List<UniversalAPP.Entity.CusCategory>
@{
    ViewBag.Title = "分类";
}

<!--头部脚本-->
@section head
{

}
<!--头部脚本 end-->
<!-- Panel -->
@section nav
{
<div class="ibox-title">
    <h5>分类列表</h5>
    <div class="ibox-tools">
        <a class="collapse-link">
            <i class="fa fa-refresh" onclick="javascript: location.reload()"></i>
        </a>
    </div>
</div>
}
<!-- Panel end-->

<!-- 路径导航 -->
<div class="row">
    <div class="col-sm-4">
        <ol class="breadcrumb">
            <li><a href="/Admin/Home/Center">主页</a></li>
            <li><a href="/Admin/CusCategory/Index">分类管理</a></li>
            <li><strong>分类列表</strong></li>
        </ol>
    </div>

    <div style="height: 40px;"></div>
</div>
<!-- 路径导航 end -->
@{ 
    bool CanEdit = (bool)ViewData["CanEdit"];
}
<div class="row">
    <div class="col-sm-2">
        @if (CanEdit)
        {
            @:<a class="btn btn-white" href="@Url.Action("Edit", "CusCategory", new { Area = "Admin" })"><i class="glyphicon glyphicon-plus"></i> 添加</a>
        }

    </div>
    <div class="col-sm-4">
        <p></p>
    </div>
    <div class="col-sm-2">
        <p></p>
    </div>
    <div class="col-sm-4">

    </div>
</div>
<br>

<!--Main Body-->

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>标题</th>
                <th>深度</th>
                <th>权重</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="@(item.PID == null ? "success":"")">
                    <td>@item.ID</td>
                    <td style="text-align: left;">@Html.Raw(item.Title)</td>
                    <td>@item.Depth</td>
                    <td>@item.Weight</td>
                    <td>
                        @if((bool)ViewData["CanDel"])
                        {
                            @:<a class="btn btn-sm btn-warning" href="javascript:;" onclick="del_item('/Admin/CusCategory/Del',@item.ID, 1)"><i class="glyphicon glyphicon-trash"></i> 删除</a>
                        }
                        @if (CanEdit)
                        {
                            @:<a class="btn btn-sm btn-white" href="/Admin/CusCategory/Edit?id=@item.ID"><i class="glyphicon glyphicon-edit"></i> 修改</a>
                        }
                    </td>
                </tr>
            }
            @if(Model.Count ==0)
            {
                <tr><td colspan="5"><p><h2>没有相关数据</h2></p></td></tr>
            }
        </tbody>
    </table>
</div>

<!-- Main Body end -->

