
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>附件上传</title>
    <link href="~/css/admin/admin.css" rel="stylesheet" />
    <link href="~/lib/uploadifive/uploadifive.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/layer/layer.js"></script>
    <script src="~/lib/uploadifive/jquery.uploadifive.js"></script>

    <script>
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        $(function () {
            $("#uploadify").uploadifive({
                'auto': true,
                'uploadScript': '/admin/Tools/UploadFile',
                'buttonText': '选择 @ViewData["file_txt"]',
                'fileTypeDesc': '@ViewData["file_txt"]',
                'fileType': '@ViewData["file_ext"]',
                'fileSizeLimit': '@ViewData["file_size"]',
                'height': 30,
                'queueID': 'uploadify_queue',
                'width': 100,
                'formData': { 'operation': '@ViewData["folder"]','upload_type':'@ViewData["upload_type"]' },
                'progressData': 'speed', //显示进度的百分比（percentage）或速度（speed）
                'multi': @ViewData["multi"],
                'queueSizeLimit': @ViewData["num"],//一次可上传的数量
                'onUploadComplete': function (file, data) {
                    //alert('文件 ' + file.name + ' 上传成功.详细信息：' + data);
                    $("#hid_old_name").val(file.name);
                    data = $.parseJSON(data);
                    if (data.msg == 1) {
                        var img_te = "<li class='file_list'>" + data.data + "</li>";
                        $("#file_list").append(img_te);
                    }
                    else {
                        layer.msg(data.msgbox, { icon: 2 });
                    }

                    $("#btn_commit").removeAttr("disabled");

                },
                onFallback: function () {
                    $("#noUpload").show();
                    $("#uploadify").hide();
                },
                onUpload: function (file) {
                    //document.getElementById("btn_commit").disabled = true;//当开始上传文件，要防止上传未完成而表单被提交
                    $("#btn_commit").attr("disabled","disabled");
                }

            });
        })

        function btn_commit()
        {
            var file_num = $(".file_list").length;
            if(file_num == 0)
            {
                layer.msg("说好的 @ViewData["file_txt"] 呢？", { icon: 2 });
        }

        var file_list ="";
        $(".file_list").each(function(index,item){
            file_list += $(this).text()+",";
        })
        if(file_list.length>0)
        {
            file_list = file_list.substring(0,file_list.length -1);
        }

        var ele = "@ViewData["call_back_ele"]";
        if(parent.$("#"+ele).val().length > 0)
        {
            parent.@ViewData["call_func"] (parent.$("#"+ele).val()+","+file_list);
            parent.$("#"+ele).val(parent.$("#"+ele).val()+","+file_list);
        }else
        {
            parent.@ViewData["call_func"] (file_list);
             parent.$("#"+ele).val(file_list);

        }
        parent.layer.close(index);
        }

    </script>

</head>
<body>
    <input type="hidden" value="" id="hid_old_name" />
    <div style="margin-top:20px; margin-left:20px;">
        <input type="file" name="uploadify" id="uploadify" />
        <div id="uploadify_queue" style="margin-top:20px; width:400px;"></div>
        <b id="noUpload" style="display: none">浏览器不支持HTML5，无法上传</b>
    </div>
    <div style="margin-top:20px;">
        <ul id="file_list" style="list-style:none;">
            <li></li>
        </ul>
    </div>
    <hr />
    <div style="margin-top:20px; margin-left:20px;">
        <button class="btn btn-info " type="button" id="btn_commit" onclick="btn_commit()"><i class="fa fa-check"></i>完成上传</button>
    </div>
</body>
</html>
