@model UniversalAPP.Entity.SysUser
@{
    ViewBag.Title = "编辑后台账户";
}

<!--头部脚本-->
@section head
    {
    <link href="~/lib/iCheck/css/custom.css" rel="stylesheet" />
}

<!--头部脚本 end-->
<!--Panel-->
@section nav
    {
    <div class="ibox-title">
        <h5>编辑后台用户</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="glyphicon glyphicon-arrow-left" onclick="javascript: window.history.go(-1)"></i>
            </a>
        </div>
    </div>
}
<!--Panel end-->
<!-- 路径导航 -->
<div class="row">
    <div class="col-sm-4">
        <ol class="breadcrumb">
            <li><a href="/Admin/Home/Center">主页</a></li>
            <li><a href="@Url.Action("Index", "SysUser", new { Area = "Admin" })">用户管理</a></li>
            <li><strong>编辑</strong></li>
        </ol>
    </div>

    <div style="height: 40px;"></div>
</div>
<!-- 路径导航 end -->
<!--Main Body-->
<div class="clients-list">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-1">基本信息</a></li>
        <li style="display:none;"><a data-toggle="tab" href="#tab-2">其他信息</a></li>
    </ul>
    <form method="post" class="form-horizontal" onsubmit="configm_before()">
        @Html.AntiForgeryToken()
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div style="margin-top:20px;"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(p => p.SysRoleID)</label>
                    <div class="col-sm-2">
                        @Html.DropDownListFor(p => p.SysRoleID, ViewData["sysuser_role"] as List<SelectListItem>, new { @class = "form-control" })
                    </div>
                    <label class="col-sm-4 label_msg"> @Html.ValidationMessageFor(p => p.SysRoleID)</label>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(p => p.UserName)</label>

                    <div class="col-sm-3">
                        @Html.TextBoxFor(p => p.UserName, Model.ID == 0 ? (object)new { @class = "form-control", placeholder = "3-10位字母或数字组成" } : (object)new { @class = "form-control", disabled = "disabled" })
                    </div>
                    <label class="col-sm-3 label_msg"> @Html.ValidationMessageFor(p => p.UserName)</label>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(p => p.Password)</label>

                    <div class="col-sm-3">
                        @Html.PasswordFor(p => p.Password, Model.ID == 0 ? (object)new { @class = "form-control", placeholder = "最大长度30" } : (object)new { @class = "form-control", value = "litdev" })
                    </div>
                    <label class="col-sm-3 label_msg"> @Html.ValidationMessageFor(p => p.Password)</label>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(p => p.NickName)</label>

                    <div class="col-sm-3">
                        @Html.TextBoxFor(p => p.NickName, new { @class = "form-control", placeholder = "昵称" })
                    </div>
                    <label class="col-sm-3 label_msg"> @Html.ValidationMessageFor(p => p.NickName)</label>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">头像</label>

                    <div class="col-sm-6">
                        @Html.HiddenFor(p => p.Avatar)

                        <button type="button" class="btn btn-info " onclick="upload()">
                            <i class="fa fa-upload"></i> 上传文件
                        </button>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">头像预览</label>

                    <div class="col-sm-10">
                        <div class="img_list">
                            <ul id="@Html.NameFor(p => p.Avatar)ListData">
                                @if (!string.IsNullOrWhiteSpace(Model.Avatar))
                                {
                                    @:
                                    <li><img src="@Model.Avatar" ids="0" class="@Html.NameFor(p => p.Avatar)List" width="150" /><a href="javascript:void(0)" onclick="DelPic(this,'@Html.NameFor(p => p.Avatar)')">删除</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(p => p.Gender) </label>
                    <div class="col-sm-10">
                        <div class="radio-inline i-checks">
                            <label>@Html.RadioButtonFor(x => x.Gender, UniversalAPP.Entity.UserGender.男, new { id = "rb_gender_1" }) <i></i> 男</label>
                        </div>
                        <div class="radio-inline i-checks">
                            <label>@Html.RadioButtonFor(x => x.Gender, UniversalAPP.Entity.UserGender.女, new { id = "rb_gender_2" }) <i></i> 女</label>
                        </div>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>


                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(p => p.Status) </label>
                    <div class="col-sm-10">
                        <div class="radio-inline i-checks">
                            <label>@Html.RadioButtonFor(x => x.Status, true, new { @id = "rb_status_1" }) <i></i> 正常</label>
                        </div>
                        <div class="radio-inline i-checks">
                            <label>@Html.RadioButtonFor(x => x.Status, false, new { @id = "rb_status_2" }) <i></i> 禁用</label>
                        </div>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>

            </div>

            <div id="tab-2" class="tab-pane" style="display:none;">
                <div style="margin-top:20px;"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">普通</label>

                    <div class="col-sm-3">
                        <input type="text" class="form-control">
                    </div>
                    <label class="col-sm-3 label_msg"> 这里是验证消息</label>
                </div>
                <div class="hr-line-dashed"></div>


            </div>

            <div class="row">
                <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-info" type="submit">保存内容</button>&nbsp;
                    <button class="btn btn-white" type="reset">取消</button>
                </div>
            </div>

        </div>
    </form>
</div>

<!-- Main Body end-->
<!--底部脚本-->
@section foot
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation/dist/messages_zh.min.js"></script>
    
    <script src="~/lib/iCheck/icheck.min.js"></script>

    <script>
    function upload() {
        var total = $(".@Html.NameFor(p=>p.Avatar)List").length;
        if (total >= 1) {
            layer.msg("已有头像，请先删除现有的", { icon: 2 });
            return;
        }

        layer.open({
            type: 2,
            area: ['700px', '530px'],
            fix: false, //不固定
            maxmin: false,
            content: ['@Url.Action("UploadFile", "Tools", new { type = "OnePicture", folder = "avatar", num = 1,call_func= "set_upload_file", call_back_ele = Html.NameFor(p=>p.Avatar), Area = "Admin" })', 'no']
        });
    }

    //回掉方法，参数固定
    function set_upload_file(path) {
        if (path.length != 0) {
            $("#@Html.NameFor(p=>p.Avatar)ListData").html("");
            var img_te = "<li><img src='" + path + "' ids='0' class='@Html.NameFor(p=>p.Avatar)List' width='150px' /><a href='javascript:void(0)' onclick=\"DelPic(this,'@Html.NameFor(p=>p.Avatar)')\">删除</a></li>";
            $("#@Html.NameFor(p=>p.Avatar)ListData").append(img_te);
        }
    }


    $(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

        @if(!ViewData.ModelState.IsValid)
        {
            @:layer.msg('数据未验证通过，请仔细检查', { offset: 0, shift: 6 });
        }
    });
    </script>
}
<!--底部脚本 end-->
