@model UniversalAPP.Entity.Demo
@{
    ViewBag.Title = "编辑测试信息";
}

<!-- Panel -->
@section nav
    {
    <div class="ibox-title">
        <h5>编辑测试信息</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="glyphicon glyphicon-arrow-left" onclick="javascript: window.history.go(-1)"></i>
            </a>
        </div>
    </div>
}
<!--Panel end-->
<!-- 路径导航 -->

<div class="row">
    <div class="col-sm-4">
        <ol class="breadcrumb">
            <li><a href="/Admin/Home/Center">主页</a></li>
            <li><a href="/Admin/Demo/Index">测试数据列表</a></li>
            <li><strong>编辑</strong></li>
        </ol>
    </div>

    <div style="height: 40px;"></div>
</div>

<!-- 路径导航 end -->
<!--Main Body-->

<div class="clients-list">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-1">基本信息</a></li>
        <li><a data-toggle="tab" href="#tab-2">旗下信息</a></li>
        @if (Model.ID != 0)
        {
            @:<li><a data-toggle="tab" href="#tab-3">其他信息</a></li>
        }
    </ul>
    <form method="post" class="form-horizontal" onsubmit="configm_before2()">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(p => p.AddUserID)
        @Html.HiddenFor(p => p.LastUpdateUserID)
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div style="margin-top:20px;"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(p => p.Title)</label>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(p => p.Title, new { @class = "form-control", placeholder = "标题" })
                    </div>
                    <label class="col-sm-3 label_msg"> @Html.ValidationMessageFor(p => p.Title)</label>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(p => p.Telphone)</label>
                    <div class="col-sm-10">
                        <div class="col-md-3" style="padding-left: 0px;">
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                @Html.TextBoxFor(p => p.Telphone, new { @class = "form-control", placeholder = "手机号" })
                            </div>
                        </div>
                        <label class="col-md-3 label_msg"> @Html.ValidationMessageFor(p => p.Telphone)</label>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(p => p.Price)</label>
                    <div class="col-sm-10">
                        <div class="col-md-2" style="padding-left: 0px;">
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-cny"></i></span>
                                @Html.TextBoxFor(p => p.Price, new { @class = "form-control", placeholder = "价格", @Value = Model.Price.ToString("F2") })
                            </div>
                        </div>
                        <label class="col-md-3 label_msg"> @Html.ValidationMessageFor(p => p.Price)</label>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(p => p.Ran)</label>

                    <div class="col-sm-10">
                        <div class="col-md-2" style="padding-left: 0px;">
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-arrows-h"></i></span>
                                @Html.TextBoxFor(p => p.Ran, new { @class = "form-control", placeholder = Html.DisplayNameFor(p => p.Ran) })
                            </div>
                        </div>
                        <label class="col-md-3 label_msg"> @Html.ValidationMessageFor(p => p.Ran)</label>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(p => p.Num)</label>

                    <div class="col-sm-2">
                        @Html.TextBoxFor(p => p.Num, new { @class = "form-control", placeholder = Html.DisplayNameFor(p => p.Num) })
                    </div>
                    <label class="col-sm-3 label_msg"> @Html.ValidationMessageFor(p => p.Num)</label>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">相册</label>

                    <div class="col-sm-6">
                        @Html.HiddenFor(p => p.StrAlbums)
                        <button type="button" class="btn btn-info " onclick="upload()">
                            <i class="fa fa-upload"></i> 上传文件
                        </button>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">头像预览</label>

                    <div class="col-sm-10">
                        <div class="img_list">
                            <ul id="@Html.NameFor(p => p.StrAlbums)ListData">
                                @if (Model.Albums != null)
                                {
                                    foreach (var item in Model.Albums)
                                    {
                                        @:<li><img src="@item.ImgUrl" ids="0" class="@Html.NameFor(p=>p.StrAlbums)List" width="150" /><a href="javascript:void(0)" onclick="DelPic(this,'@Html.NameFor(p=>p.StrAlbums)')">删除</a></li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>


            </div>

            <div id="tab-2" class="tab-pane">
                <div class="div_dynamic">
                    <div style="margin-top:20px;"></div>
                    @if (Model.Depts != null)
                    {
                        for (var i = 0; i < Model.Depts.Count; i++)
                        {
                            <div class="form-group">
                                <div class="col-sm-1" style="width:initial">
                                    <button class="btn btn-outline btn-danger btn-xs del_dynamic" type="button" onclick="del_dynamic(this)">删除</button>
                                </div>
                                <label class="col-sm-1 control-label">
                                    @Html.DisplayNameFor(x => x.Depts[i].Title)
                                </label>
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(x => x.Depts[i].Title, new { @class = "form-control" })
                                    <span class="help-block m-b-none label_msg">@Html.ValidationMessageFor(x => x.Depts[i].Title)</span>
                                </div>

                                <label class="col-sm-1 control-label">@Html.DisplayNameFor(x => x.Depts[i].ImgUrl)</label>
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(x => x.Depts[i].ImgUrl, new { @class = "form-control" })
                                    <span class="help-block m-b-none label_msg">@Html.ValidationMessageFor(x => x.Depts[i].ImgUrl)</span>
                                </div>

                                <label class="col-sm-1 control-label">@Html.DisplayNameFor(x => x.Depts[i].Num)</label>
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(x => x.Depts[i].Num, new { @class = "form-control" })
                                    <span class="help-block m-b-none label_msg">@Html.ValidationMessageFor(x => x.Depts[i].Num)</span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                        }
                    }
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-sm-offset-1">
                        <button class="btn btn-info" type="button" onclick="add_dynamic()">添加一条</button>
                    </label>
                </div>
                <div class="hr-line-dashed"></div>

            </div>

            <div id="tab-3" class="tab-pane">
                <div style="margin-top:20px;"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(p => p.AddTime)</label>

                    <div class="col-sm-10">
                        <p class="form-control-static">@Html.HiddenFor(p => p.AddTime) @Model.AddTime</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(p => p.AddUser)</label>

                    <div class="col-sm-10">
                        <p class="form-control-static">@(Model.AddUser != null ? Model.AddUser.UserName : "")</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group" style="margin-top:20px;">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(p => p.LastUpdateTime)</label>

                    <div class="col-sm-10">
                        <p class="form-control-static">@Html.HiddenFor(p => p.LastUpdateTime) @Model.LastUpdateTime</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(p => p.LastUpdateUser)</label>

                    <div class="col-sm-10">
                        <p class="form-control-static">@(Model.LastUpdateUser != null ? Model.LastUpdateUser.UserName : "")</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>

            </div>

            <div class="row">
                <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-info" type="submit">保存内容</button>&nbsp;
                    <button class="btn btn-white" type="reset">取消</button>
                </div>
            </div>

        </div>
    </form>
</div>

<!-- Main Body end-->
<!--底部脚本-->
@section foot
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation/dist/messages_zh.min.js"></script>

    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script>

    //动态表单 begin

    function del_dynamic(obj)
    {
        var dataCount = $(".del_dynamic").length;
        if (dataCount <= 1)
        {
            alert("至少有一条数据");
            return false;
        }


        $(obj).parent().parent().next().remove();
        $(obj).parent().parent().remove();

        $.each($(".div_dynamic").find(".form-group"), function (i, item) {
            //文本框
            var txts = $(this).find("input[type='text']");
            txts.each(function () {
                //重置下标数字
                $(this).attr("name", $(this).attr("name").replace(/\d+/, i));
                $(this).attr("id", $(this).attr("id").replace(/\d+/, i));
            })
            var spans = $(this).find("span");
            spans.each(function () {
                //重置下标数字
                if ($(this).attr("data-valmsg-for") != undefined)
                {
                    $(this).attr("data-valmsg-for", $(this).attr("data-valmsg-for").replace(/\d+/, i));
                }
            })
        })

    }

    function add_dynamic()
    {
        //不为空
        if ($(".div_dynamic").find(".form-group").length >=1)
        {
            var obj = $(".div_dynamic").find(".form-group").first().clone();
            var obj2 = $(".hr-line-dashed").first().clone();
            $(".div_dynamic").append(obj);
            $(".div_dynamic").append(obj2);

            var i = $(".div_dynamic").find(".form-group").length -1;

            $(obj.find("input[type='text']")).each(function () {
                //重置下标数字
                $(this).attr("name", $(this).attr("name").replace(/\d+/, i));
                $(this).attr("id", $(this).attr("id").replace(/\d+/, i));
                $(this).attr("value", "");
            })
            var spans = $(obj).find("span");
            spans.each(function () {
                //重置下标数字
                if ($(this).attr("data-valmsg-for") != undefined) {
                    $(this).attr("data-valmsg-for", $(this).attr("data-valmsg-for").replace(/\d+/, i));
                }
            })
        }
    }

    //动态表单 end

    function configm_before2()
    {
        if ($("form").valid()) {
            layer.load(2);
        }
    }

    function upload() {
        var total = $(".@Html.NameFor(p=>p.StrAlbums)List").length;
        if (total >= 5) {
            layer.msg("超过5张，请先删除现有的", { icon: 2 });
            return;
        }

        layer.open({
            type: 2,
            area: ['700px', '530px'],
            fix: false, //不固定
            maxmin: true,
            content: ['@Url.Action("UploadFile", "Tools", new { type = "MorePicture", folder = "demo", num = 5,call_func= "set_upload_file", call_back_ele = Html.NameFor(p=>p.StrAlbums), Area = "Admin" })', 'no']
        });
    }

    //回掉方法，参数固定
    function set_upload_file(path)
    {
        if(path.length != 0)
        {
            $("#@Html.NameFor(p=>p.StrAlbums)ListData").html("");
            var arr = path.split(",");
            var img_te = "";
            for (var i = 0; i < arr.length; i++) {
                img_te += "<li><img src='" + arr[i] + "' ids='0' class='@Html.NameFor(p=>p.StrAlbums)List' width='150px' /><a href='javascript:void(0)' onclick=\"DelPic(this,'@Html.NameFor(p=>p.StrAlbums)')\">删除</a></li>";
            }
            $("#@Html.NameFor(p=>p.StrAlbums)ListData").html(img_te);
        }
    }

    $(function () {

        $("#@Html.NameFor(p=>p.StrAlbums)ListData").sortable({
            axis: "x",//沿x轴拖动
            star:function(e,ui)
            {
                //ui.helper.css({ "background": "#fff" })
                return ui;
            },
            stop: function (e, ui) {
                //console.log("之前的：" + $("#StrAlbums").val());
                var albums = "";
                $(".@Html.NameFor(p=>p.StrAlbums)List").each(function (index, elem) {
                    albums += $(this).attr("src") + ",";
                })
                if(albums.length > 0)
                {
                    albums = albums.substring(0, albums.length - 1);
                }
                $("#StrAlbums").val(albums);
                //console.log("处理后：" + $("#StrAlbums").val());
                return ui;
            }
        }).disableSelection();

        @if(!ViewData.ModelState.IsValid)
        {
            @:layer.msg('数据未验证通过，请仔细检查', { offset: 0, shift: 6 });
        }
    });
    </script>
}
<!--底部脚本 end-->
